<html>
	<head>
		<title></title>

	 	<style type="text/css">
		 	html, body {
   				height: 100%;
			}
			#map { height: 100%; }
	 	</style>

	</head>

	<body>
		<div id="map"></div>

		<%= map(id = :center => {
		  :latlng => [@latitude, @longitude],
		  :zoom => @zoom },
		  :attribution => '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
		  :max_zoom => 19,
		  :min_zoom => 3
		) %>

		<script type="text/javascript">


			////////////////////////////////////////////
			// add census block layer to map		
			var censusBlockGroups = new L.TileLayer.WMS("http://tigerweb.geo.census.gov/arcgis/services/TIGERweb/tigerWMS_Census2010/MapServer/WMSServer",
			{
			  layers: 'Census Block Groups',
			  format: 'image/png',
			  transparent: true
			  // attribution: TigerAttribution
			});
			censusBlockGroups.addTo(map);
			////////////////////////////////////////////

			////////////////////////////////////////////
			// add Open Street Maps Building (3-D Buildings)
			var osmb = new OSMBuildings(map).load();
			////////////////////////////////////////////

			////////////////////////////////////////////
			// Add Layer Control Widget
			var baseMaps = {
				//."OSM": map
				// "Mapbox": mapbox
			}
			// define overlays
			var overLays = {
				"3-D Buildings": osmb,
				"Block Groups": censusBlockGroups
			}
			// create the layer control widget on the map
			L.control.layers(baseMaps, overLays).addTo(map);
			////////////////////////////////////////////

			////////////////////////////////////////////
			// Add OSM Geocoder Widget
			var options = {
				collapsed: true,
				position: 'topright',
				text: "Geocode",
				callback: function (geocodeResults) {
					console.log(geocodeResults)

					if (geocodeResults.length > 0) {
						//
						// geocoding with OSM; leaves a lot to be desired
						// possibly change later; not overly releavent to project
						// 
						type = geocodeResults[0].type
						if (type === "house" || type === "postcode") {
							console.log("type1 match")
							map.setView([geocodeResults[0].lat, geocodeResults[0].lon], 16);
						} else {
							console.log("type2 match")
							x1 = geocodeResults[0].boundingbox[0];
							x2 = geocodeResults[0].boundingbox[1];							
							y1 = geocodeResults[0].boundingbox[2];
							y2 = geocodeResults[0].boundingbox[3];
				
							point1 = new L.LatLng(x1, y1);
							point2 = new L.LatLng(x2, y2);
				
							bounds = new L.LatLngBounds(point1, point2);
							map.fitBounds(bounds);
						}
					}
				}
			};

			var osmGeocoder = new L.Control.OSMGeocoder(options);
			map.addControl(osmGeocoder);
			////////////////////////////////////////////

			////////////////////////////////////////////
			// this will get the bounds of the map on the initial page load
			var bounds = map.getBounds();
			console.log(bounds);

			// this will subsequently get the bounds of the
			// map on further map changes
			map.on('moveend', function (e) {
				console.log("Event: moveend", map.getBounds()); 
				console.log("Zoom: ", map.getZoom())
				console.log("Center: ", map.getCenter().lat, map.getCenter().lng)
			});
			////////////////////////////////////////////

			////////////////////////////////////////////
			// add marker to map for initial location
			if  (<%= @isGeoLocation %> == true)  {
   				L.marker([<%= @latitude %>, <%= @longitude %>], {
   					bounceOnAdd: true, 
   					bounceOnAddOptions: { duration: 3000, height: 700 }
   				}).addTo(map)
			    	.bindPopup('<center>Your approximate location<br>(Based on your IP address)</center>');
			}
			////////////////////////////////////////////			    

		</script>
	</body>
</html>